<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System">
      <section name="MediRegist.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="MediRegist.Properties.Settings.chisdb" connectionString="Data Source=192.168.128.128;Initial Catalog=lyzxchisdb;User ID=sa;Password=Founder123"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <applicationSettings>
    <MediRegist.Properties.Settings>
      <setting name="subsys_id" serializeAs="String">
        <value>mz</value>
      </setting>
      <setting name="isSelectSys" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="cisdb" serializeAs="String">
        <value>plcisdb</value>
      </setting>
      <setting name="yljgdm" serializeAs="String">
        <value>89001</value>
      </setting>
      <setting name="sfzddm" serializeAs="String">
        <value>0000000001</value>
      </setting>
      <setting name="RunTime" serializeAs="String">
        <value>10:06</value>
      </setting>
      <setting name="Interval" serializeAs="String">
        <value>60000</value>
      </setting>
    </MediRegist.Properties.Settings>
    <DevExpress.LookAndFeel.Design.AppSettings>
      <setting name="DPIAwarenessMode" serializeAs="String">
        <value>System</value>
      </setting>
    </DevExpress.LookAndFeel.Design.AppSettings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>