<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System">
      <section name="MediRegist.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="MediRegist.Properties.Settings.chisdb" connectionString="Data Source=1.1.2.153;Initial Catalog=mihsdrgs;User ID=sa;Password=6037526"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <applicationSettings>
    <MediRegist.Properties.Settings>
      <setting name="subsys_id" serializeAs="String">
        <value>adt</value>
      </setting>
      <setting name="isSelectSys" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="cisdb" serializeAs="String">
        <value>plcisdb</value>
      </setting>
      <setting name="RunTime" serializeAs="String">
        <value>20:00</value>
      </setting>
      <setting name="Interval" serializeAs="String">
        <value>60000</value>
      </setting>
      <setting name="insCode" serializeAs="String">
        <value>060001</value>
      </setting>
      <setting name="forCount" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="yb_upload_WebReference_EmrService" serializeAs="String">
        <value>http://192.168.192.75:81/service.asmx</value>
      </setting>
      <setting name="AutoDays" serializeAs="String">
        <value>9</value>
      </setting>
      <setting name="yb_upload_WebReference1_Mhs5service" serializeAs="String">
        <value>http://10.79.2.40:9001/mhs5/services/Mhs5service.Mhs5serviceHttpSoap11Endpoint/</value>
      </setting>
      <setting name="sbjgbh" serializeAs="String">
        <value>000000</value>
      </setting>
      <setting name="yybm" serializeAs="String">
        <value>060001</value>
      </setting>
      <setting name="zcm" serializeAs="String">
        <value>200107H-868185-799315-3277</value>
      </setting>
    </MediRegist.Properties.Settings>
    <DevExpress.LookAndFeel.Design.AppSettings>
      <setting name="DPIAwarenessMode" serializeAs="String">
        <value>System</value>
      </setting>
    </DevExpress.LookAndFeel.Design.AppSettings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>